<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FAQ
        link(rel="stylesheet", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
        link(rel="stylesheet", href="./css/style.css")
    body
        nav.navbar
            .container
                .navbar_logo 
                    a(href="#") Just A Bite!
                ul.navbar_btn
                    li
                        a(href="#") 抽個大獎
                    li
                        a(href="#") 我要點餐
                    li
                        a(href="#") 查詢訂單
                    li.active
                        a(href="#") 常見問題
        section.faq
            h2.title FAQ-常見問題
            .faq_content
                .faq_card
                    .card_header(data-no="1") 
                        h3 如何辦理退貨？
                        .open_card_btn.open
                    .card_body
                        p 耶耶耶耶耶耶耶耶耶，第一次自己用 js 寫出開合效果，雖然很陽春但還是很開心，2020.7.28 記錄一下，耶耶
                .faq_card
                    .card_header(data-no="2") 
                        h3 目前提供哪些付款方式？
                        .open_card_btn.open
                    .card_body
                        p 哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉，線上刷卡的使用方式也超簡單，只要您確認您當次的購物清單與金額都無誤，就可立即到匯款上傳系統，登入個人帳號密碼後。
                .faq_card
                    .card_header(data-no="3") 
                        h3 線上刷卡如何操作呢？
                        .open_card_btn.open
                    .card_body
                        p 嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
                .faq_card
                    .card_header(data-no="4") 
                        h3 訂單成立後，是否可以取消或是更改訂單數量及商品？
                        .open_card_btn.open
                    .card_body
                        p 嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉，線上刷卡的使用方式也超簡單，只要您確認您當次的購物清單與金額都無誤，就可立即到匯款上傳系統，登入個人帳號密碼後。
                .faq_card
                    .card_header(data-no="5") 
                        h3 如何辦理退貨，線上刷卡如何操作呢？
                        .open_card_btn.open
                    .card_body
                        p 哈囉哈囉哈囉哈囉，嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
                .faq_card
                    .card_header(data-no="6") 
                        h3 如何辦理退貨？
                        .open_card_btn.open
                    .card_body
                        p 哈囉哈囉哈囉哈囉，嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
                .faq_card
                    .card_header(data-no="7") 
                        h3 目前提供哪些付款方式？
                        .open_card_btn.open
                    .card_body
                        p 哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉，線上刷卡的使用方式也超簡單，只要您確認您當次的購物清單與金額都無誤，就可立即到匯款上傳系統，登入個人帳號密碼後。
                .faq_card
                    .card_header(data-no="8") 
                        h3 線上刷卡如何操作呢？
                        .open_card_btn.open
                    .card_body
                        p 嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
                .faq_card
                    .card_header(data-no="9") 
                        h3 訂單成立後，是否可以取消或是更改訂單數量及商品？
                        .open_card_btn.open
                    .card_body
                        p 嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉，線上刷卡的使用方式也超簡單，只要您確認您當次的購物清單與金額都無誤，就可立即到匯款上傳系統，登入個人帳號密碼後。
                .faq_card
                    .card_header(data-no="10") 
                        h3 如何辦理退貨？
                        .open_card_btn.open
                    .card_body
                        p 哈囉哈囉哈囉哈囉，嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨嗨，哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
                
        section.map
            h2.title 我們在哪裡
            .container
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6105.267758008143!2d120.69747846552211!3d24.249678166720546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346910a91aa8cba5%3A0xa06fc8ab183499bc!2z6bql55W25YueLeixkOWOn-S4reato-S6jOW6lw!5e0!3m2!1szh-TW!2stw!4v1595086306657!5m2!1szh-TW!2stw", frameborder="0")
        footer
            .container
                .info_left
                    p(data-title="餐館地址：") 天上地下天堂路三分之一里六段520號
                    p(data-title="訂位專線：") 02-1314-5566
                    p(data-title="訂位專線：") 營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息
                    p(data-title="email：") service@justabite.com.tw
                .info_right
                    h1 Just A Bite!
                    a(href="#") Facebook
                    a(href="#") Instagram
                    a(href="#") Youtube
        .footer_bottom Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有

        script(src="./js/faq.js")




            
        

                